#myTimer {
    display: flex;
    gap: 20px;
    font-size: 64px;
}

.pag  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
}

.minus {
    align-self: center;
}
.plus{
    align-self: center;
}
.tm {
    border: black;
}
#stop {
    display: none;
}