#myTimer {
    background-color: blanchedalmond;
    display: flex;
    gap: 20px;
    padding: 30px;
    
}

.pag  {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}

.btns {
    display: flex;
    gap: 20px;
    align-items: center;
    align-content: center;
    margin-top: 20px;
}

.minus {
    align-self: center;
}
.plus{
    align-self: center;
}
.tm {
    font-size: 20px;
    border: black;
    display: none;
}
#stop {
    display: none;
}
.forms {
    background-color: blanchedalmond;
    padding: 10px;
}
